<wrapper class="footer">
  <container class="footer-container">
    <row>
      <columns></columns>
      <columns
        small="8"
        large="8"
        class="center"
        align="center"
        valign="middle"
      >
        <center>
          <menu class="vertical">
            <item><a href="#">Link</a></item>
            <item><a href="#">Link</a></item>
            <item><a href="#">Link</a></item>
            <item><a href="#">Link</a></item>
          </menu>
        </center>
      </columns>
      <columns></columns>
    </row>
  </container>
</wrapper>
